*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #cccccc;
}

#container{
    max-width: 600px;
    margin: auto;    
}

#new-post{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#new-post h2{
    margin: auto;
    padding: 20px;
}

#new-post textarea{
    margin-bottom: 10px;
    max-width: 50%;
    width: 50%;
    max-height: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255, .5);
    border: none;
    outline: none;
}

button{
    background-color: purple;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    padding: 8px;
    font-size: 20px;
    width: 50%;
    cursor: pointer;
    margin-bottom: 10px;
}

#mural{
    margin-bottom: 20px;
}

.posts{
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
}

.posts h3{
    background-color: #cccccc;
    color: black;
    padding: 5px;
    text-transform: uppercase ;
}

.posts p{
    background-color: white;
    padding: 5px;
}